.container{
    height: 100vh;
    display: flex;
    align-items:center;
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.fullscreen-video-wrap {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.overlay-header {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background:#405058;
    opacity:0.75;
}

/* content on top of video */
.header-content {
    z-index: 2;  
    max-width: 100%;  
}

.header-content h1 {
    color: whitesmoke;
    font-size: 4rem;
    display: inline-block;
    word-wrap: break-word;
    margin-bottom: 0;
    max-width: 100%;
}

.header-content .introduction-text {
    color: whitesmoke;
    display:block;
    font-size: 1.5rem;
}

.header-content .read-more-button {
    background-color: #fd3a69;
    border: none;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 0.6rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.read-more-button:hover {
    opacity: 0.6;
}

.read-more-button:focus {
    outline: none;
}

/*Sections*/
.grid-services {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6rem;
    padding: 1.9rem;
    color: white;
}

.center {
    text-align: center;
    margin:auto;
}

.cookies-grid {
    grid-template-rows: 1fr 2fr;
}

.cookies-text-grid, .cakes-grid, .lebkuchen-grid {
    height:200px;
    opacity: 1;
}

.cookies-text-grid:hover, .cakes-grid:hover, .lebkuchen-grid:hover {
    opacity: 0.7;
    transition: 0.7s;
}

.cookies-images-grid img {
    height: 300px;
    padding:0;
    width: 500px;
    opacity: 0.8;
}

.cookies-images-grid img:hover {
    opacity: 1;
    transition: 0.5s;
}

.cookies-images-grid:hover {
    opacity: 1;
    transition: 0.7s;
}

 .cakes-grid {
    /* background-image: url("../assets/images/muffins.png"); */
    background-size: 400px 200px;
    color: whitesmoke;
    border-radius: 0.8rem;
}

.cookies-grid {
    /* background-image: url("../assets/images/lebkuchen1.jfif"); */
    background-size: 400px 200px;
    color: whitesmoke;
    border-radius: 0.8rem;
}

.lebkuchen-grid {
    /* background-image: url("../assets/images/lebkuchen2.jfif"); */
     background-size: 400px 200px;
     color: whitesmoke;
    border-radius: 0.8rem;
}

@media(max-width:960px) {
    .container {
        padding-right: 1.2rem;
        padding-left:  1.2rem;
    }

    .header-content h1 {
        font-size: 3rem;
    }
}