<header class="container">
  <div class="fullscreen-video-wrap">
    <video src="../assets/video/lebkuchen_video.mp4" autoplay="true" loop="true"></video>
  </div>
  <div class="overlay-header"></div>
  <div class="header-content">
    <h1>Welcome</h1>
    <p class="introduction-text">We bake with love and passion.</p>
    <button class="read-more-button">Read More</button>
  </div>
</header>

<section class="services">
  <div class="services-introduction">
    <h2 class="heading-mobile">About Us</h2>
    <p class="about-description">
      We bake for you a wide variety of sweets. <br> Whether you want beautiful and delicious Lebkuchen, home made
      chocolates or healthy desserts.
    </p>
  </div>
  <div class="grid-services-container">
    <div class="cookies-grid">
      <img src="../assets/images/icons/chocolate_icon.png" alt="chocolates" class="food-icon">
      <h2>Chocolates</h2>
      <br>
      <p class="chocolates_text">We make for you sweet <b>NOT</b> sugary chocolates. Click below to know more.
      </p>
      <br>
      <button class="read-more-button">Read More</button>
    </div>
    <div class="cakes-grid">
      <img src="../assets/images/icons/cake_icon.png" alt="healthydesserts" class="food-icon">
      <h2>Desserts</h2>
      <br>
      <p class="desserts_text">We bake for you delicious healthy desserts. For available flavors click below.</p>
      <br>
      <button class="read-more-button">Read More</button>
    </div>
    <div class="lebkuchen-grid">
      <img src="../assets/images/icons/lebkuchen_icon.png" alt="lebkuchen" class="food-icon">
      <h2>Lebkuchen</h2>
      <br>
      <p class="lebkuchen_text">Surprise your loved ones now with delicious Lebkuchen. Click below to know more.</p>
      <br>
      <button class="read-more-button">Read More</button>
    </div>
  </div>
</section>

<section class="samplework">

</section>