<header class="container">
  <div class="fullscreen-video-wrap">
    <video src="../assets/video/lebkuchen_video.mp4" autoplay="true" loop="true"></video>
  </div>
  <div class="overlay-header"></div>
  <div class="header-content">
    <h1>Wilkommen</h1>
    <p class="introduction-text">Here you can order the lebkuchen for your loved ones at any time of the year :) </p>
    <button class="read-more-button">Read More</button>
  </div>
</header>


<section class="services">
  <div class="grid-services center">
    <div class="cookies-grid">
      <div class="cookies-text-grid">
        <fa-icon [icon]="faCookie" size="2x"></fa-icon>
        <h2>Cookies</h2>
        <p>Have you ever given a thought to healthy cookies. No more you need to worry about eating unhealthy cookies.
        </p>
      </div>
      <div class="cookies-images-grid">
        <img src="../assets/images/lebkuchen1.jfif" alt="lebkuchen">
      </div>

    </div>
    <div class="cakes-grid">
      <fa-icon [icon]="faBirthdayCake" size="2x"></fa-icon>
      <h2>Cakes</h2>
      <p>Whatever flavor you want we bake you delicious cakes with your personally picked flavors. For samples click
        here.</p>
    </div>
    <div class="lebkuchen-grid">
      <fa-icon [icon]="faBirthdayCake" size="2x"></fa-icon>
      <h2>Lebkuchen</h2>
      <p>Lebkuchen are not only for festival seasons. They can function as surprise gifts for your loved ones. For
        samples click here</p>
    </div>
  </div>

</section>

<section class="About">

</section>