/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    /* background-color: #fd3a69; */
/* background-image: radial-gradient(circle at top center, rgb(244, 234, 104),rgb(234, 179, 103),rgb(224, 125, 103),rgb(214, 70, 102),rgb(204, 15, 101)); */
/* background-image: radial-gradient(circle at top center, rgb(255, 13, 187),rgb(115, 55, 110)); */
/* background-image: radial-gradient(circle at top center, rgb(38, 217, 249),rgb(46, 14, 92)); */
/* background-image: radial-gradient(circle at center, rgb(248, 160, 158),rgb(136, 31, 164)); */
/* background-image: radial-gradient(circle at center center, rgba(60, 60, 60,0.08) 0%, rgba(60, 60, 60,0.08) 12%,transparent 12%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at center center, rgba(29, 29, 29,0.08) 0%, rgba(29, 29, 29,0.08) 90%,transparent 90%, transparent 96%,transparent 96%, transparent 100%),radial-gradient(circle at center center, rgba(54, 54, 54,0.08) 0%, rgba(54, 54, 54,0.08) 6%,transparent 6%, transparent 50%,transparent 50%, transparent 100%),radial-gradient(circle at center center, rgba(217, 217, 217,0.08) 0%, rgba(217, 217, 217,0.08) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at center center, rgba(252, 252, 252,0.08) 0%, rgba(252, 252, 252,0.08) 59%,transparent 59%, transparent 93%,transparent 93%, transparent 100%),linear-gradient(90deg, hsl(319,75%,80%),hsl(319,75%,80%)); background-size: 85px 85px; */
 /* background-image: linear-gradient(135deg, rgb(199, 61, 148) 0%,  rgb(199, 61, 148) 100%); */
 background-image: repeating-radial-gradient(circle at center center, rgba(46, 60, 130,0.26) 0px, rgba(46, 60, 130,0.26) 5px,transparent 5px, transparent 7px),linear-gradient(135deg, hsl(199,94%,24%) 0%,hsl(199,94%,24%) 39%); background-size: 33px 33px;

 margin:0;
    overflow-x: hidden;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    color: #333;
    line-height: 1.5;
    font-weight: normal;

}
