.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    .fullscreen-video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
        video {
            min-width: 100%;
            min-height: 100%;
        }
    }

    .overlay-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background: #405058;
        opacity: 0.75;
    }

    /* content on top of video */
    .header-content {
        z-index: 2;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        h1 {
            color: whitesmoke;
            font-size: 3rem;
            display: inline-block;
            word-wrap: break-word;
            margin-bottom: 0;
            max-width: 100%;
            align-self: center;
            font-size: 2rem;
        }

        .introduction-text {
            color: whitesmoke;
            display: block;
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        .read-more-button {
            height: 3rem;
            width: 10rem;
            font-size: 130%;
            align-self: center;
            background-color: #ec407a;
            border: none;
            text-align: center;
            color: white;
            margin-top: 2rem;
            padding: 0.8rem 1.2rem;
            border-radius: 0.5rem;
            transition: 0.7s;
            cursor: pointer;
        }

        .read-more-button:hover {
            opacity: 0.7;
        }

        .read-more-button:focus {
            outline: none;
        }
    }

    @media (min-width: 768px) {
        .header-content {
            display: flex;

            h1 {
                font-size: 4rem;
            }

            .introduction-text {
                font-size: 2rem;
            }

            .read-more-button {
                height: 3rem;
                width: 10rem;
                font-size: 120%;
                align-self: center;
            }
        }
    }
}
